<!DOCTYPE html>
<html>
  <link rel="shortcut icon" href="http://0.0.0.0:4000/blogs/assets/logo.ico"/>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <link href="http://gmpg.org/xfn/11" rel="profile">

    <!-- Meta tags -->
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.summary }}" />
    <meta name="keywords" content="{{ page.keywords }}" />

    <!-- Open graph -->
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:site_name" content="Changer.nl"/>
    <meta property="og:description" content="{{ page.summary }}" />
    <meta property="og:url" content="http://changer.nl/devlog{{ page.url }}" />
    <meta property="og:image" content="http://changer.nl/devlog/public/logo.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/app.css" type="text/css" />

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}public/favico.ico" />

    <!-- Google Webmaster Tools & Analytics -->
    <meta name="google-site-verification" content="" />
</head>
  <body>
    <div id="wrap">
      <div class="header-wrap">
        <div class="container" style="margin-top:8%">
          <head>
  <title>Bitjini</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
 <script src="bootstrap/js/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script> 
  <script src="js/script.js"></script>
<!--
 <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
   <script src="../bootstrap/js/jquery.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>-->
</head>



<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
      </button> -->
      <a style="color:white;margin-left:5%" class="navbar-brand" href="http://bitjini.com/">Bitjini
        <!-- <img class="img-responsive" style="" src="{{ site.url }}assets/logo.png"/> -->
      </a>
      <a style="color:white;margin-left:85%" class="navbar-brand" href="http://0.0.0.0:4000/blogs/">Blogs
      </a>
    </div>
   
   
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" >
        
        <li><a href="http://bitjini.com/">Back</a></li>

   
      </ul>
      
    </div>
  </div>
</nav>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="span8">
            <div role="main" id="posts">
              ---
layout: default
title: Bitjini
author: Changer
keywords: nodejs, mongodb, backbone.js, javascript, developer, blog, angular.js, .net, python, django
summary: Writings about javascript, node.js, mongodb, backbone.js, python, .net and everything else in the world.
---

<h2>About Bitjini</h2>
<p>We are a bunch of technology enthusiast specialised in mobile application development, especially for iOS and Android platform, as well as web based applications. We simply enjoy programming and developing fresh ideas and shaping them with the touch of latest technology before presenting it to the World.</p>
<p>
  <a href="http://www.bitjini.com/team">meet the team</a>
</p>


<div class="blog-description">
  <h2>Developer blog</h2>
</div>

<div class="posts">
  {% for post in site.posts %}
    <div class="post">
      <h1>
        <a title="{{ post.title }}" href="{{ site.baseurl }}{{ post.url | | remove_first: '/' }}">{{ post.title }}</a>
      </h1>

      {% if post.profile != %}
        <img style="width:10%;height:10%" src="{{ post.profile }}"></img><br>
      {% endif %}
      
      <span class="date">
        On&nbsp;
        {{ post.date | date_to_string }}
        &nbsp;by&nbsp;
      </span>
      <a href="http://github.com/{{ post.author }}" class="author-link">@{{ post.author }}</a>

      <p>
        {% if post.image != %}
         <div style="width:100%">
         <p style="text-align:center"><img style="margin-top:2%" src="{{ site.url }}assets/{{ post.image }}"></img>
         </div></p>
         <br>
        {% endif %}

        {{ post.content }}
      </p>
    </div>
    <br>
  {% endfor %}
</div>
            </div>
          </div>
          <div class="span4">
            <div class="sidebar">
              
<h2>Recent posts</h2>

{% for post in site.posts %}
  <div class="recent">
    <p>
      <a title="{{ post.title }}" href="{{ site.baseurl }}{{ post.url | | remove_first: '/' }}">{{ post.title }}</a>
      <br>
      <span class="muted">{{ post.date | date_to_string }}</span>
    </p>
  </div>
{% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div>

    {% include footer.html %}

  </body>
</html>
